h1 {
	font-family: cursive;
	font-size: 350%;
	text-align: center;
	text-shadow: .2em .2em .3em silver;
	background-image: url(../../../techno.jpg);
	height: 110px;
	width: 100%;
	border-style: solid;
	border-radius: 1em;
	border-color: #f39c12;
	color: aliceblue;




}

body {
	background-color: #ffffcc;
	font-family: time;
	z-index: 3;
	background-image: url(../../../baggg.jpg);
	background-image: repeat;
	min-width: 1440px;
	min-height: 764px;


}


.explanation {
	position: relative;
	background-image: url(../../../techno.jpg);
	width: 47rem;
	hieght: 600px;
	font-family: time;
	font-size: 115%;
	margin-top: 5%;
	margin-left: 20%;
	box-sizing: content-box;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.6em;
	border-style: solid;
	border-radius: 0.5em;
	border-color: #f39c12;
	position: relative;
	color: aliceblue;
	text-align: center;
	z-index: 1;
}

.back1 {
	margin-left: 10%;
	margin-top: -7%;
	margin-bottom: 1;
	position: relative;
	z-index: 2;	
}



h4 {
	color: aliceblue;
	font-size: 125%;

}


.next {
	postion: absolute;
	margin-left: 23em;
	margin-top: -9em;

}




p {
	color: aliceblue;
}

