
html {
	font-size: 150%;
}



body {
	background-image: url(back.jpg);
	background-image: repeat;
	font-family: time;
	z-index: 1;
	min-width: 1440px;
	min-height: 821px;
}

#menu {
	position: fixed;
	z-index: 2;
	font-family: cursive;
	text-shadow: .2em .2em .3em silver;
	background-image: url(bod.jpg);
	background-size: cover;
	height: 80px;
	width: 96%;
	margin-top: -8rem;
	border-style: solid;
	border-radius: 1em;
	border-color: lightyellow;
	color: honeydew;
	padding-top: 1rem;
	padding-bottom: .8rem;
	font-size: 150%;
	min-width: 1300px;
	
}


ul#menu li {
   display:inline;
   color: white;
   background-image: url(menu.jpg);
   background-size: cover;
   padding-left: 2rem;
   padding-right: 2rem;
   margin-right: 1rem;
   border-style: solid;
   border-radius: 1em;
   border-color: yellow;
   float: right;

}

.he {
	margin-top: 10rem;
	postion: realtive;
	font-family: cursive;
	text-shadow: .2em .2em .3em silver;
	background-image: url(Banner.png);
	background-size: cover;
	height: 86px;
	width: 100%;
	margin-left: auto;
  	margin-right: auto;
	border-style: solid;
	border-color: black;
	color: honeydew;
	padding-top: 1rem;
	padding-bottom: .8rem;
	font-size: 150%;
	text-color: black;


}

.bod{
	postion: realtive;
	font-family: cursive;
	text-shadow: .2em .2em .3em silver;
	background-image: url(bod.jpg);
	background-size: cover;
	height: 600px;
	margin-top: 1rem;
	margin-bottom: 3rem;
	width: 87%;
	border-style: solid;
	border-color: gold;
	color: honeydew;
	position: relative;
	padding-top: 1rem;
	padding-bottom: .8rem;
	font-size: 150%;
	text-color: black;
	margin-left: auto;
  	margin-right: auto;
	

}

.contact {
	postion: realtive;
	font-family: cursive;
	background-size: cover;
	background-image: url(bod.jpg);
	height: 400px;
	margin-top: 1rem;
	margin-bottom: 3rem;
	width: 38%;
	border-style: solid;
	border-color: gold;
	color: honeydew;
	position: relative;
	padding-top: 1rem;
	padding-bottom: .8rem;
	font-size: 150%;
	text-color: black;
	float: left;
	margin-left: 4rem;
}

h3 {
	text-align: center;
}

h5 {
	font-size: 60%;
	margin-left: 1rem;
}

.text {
	color: gold;
	margin-bottom: 4rem;
	margin-left: 1rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4 {
	margin-left: 2rem;
}

a {
	color: gold;
}




