
html {
	font-size: 150%;
}

h1 {
	font-family: cursive;
	text-align: center;
	text-shadow: .2em .2em .3em silver;
	background-image: url(bin.jpg);
	background-image: repeat;
	height: 110px;
	width: 100%;
	border-style: solid;
	border-radius: 1em;
	border-color: lightyellow;
	color: honeydew;
	position: relative;

}

body {
	background-image: url(pat.jpg);
	font-family: time;
	z-index: 1;
	min-width: 1440px;
	min-height: 764px;
}

h5 {
	position: relative;

}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


h2 {
	position: relative;
	text-align: center;
	font-size: 80%;
	font-family: time;
	color: honeydew;
	height: 60px;
	width: 870px;
  	margin-left: auto;
  	margin-right: auto;
	background-image: url(bin.jpg);
	background-image: repeat;
	height: 110px;
	border-style: solid;
	border-radius: 1em;
	border-color: lightyellow;
	padding-top: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;


}

h4 {
	text-align: center;
	color: honeydew;
	font-size: 115%;
}


.TOC {
	position: relative;
	background-image: url(bin.jpg);
	background-image: repeat;
	width: 150px;
	hieght: 60px;
	font-family: time;
	font-size: 80%;
	margin-top: -19rem;
	margin-left: 51rem;
	float: right;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.6em;
	border-style: solid;
	border-radius: 0.5em;
	border-color: lightyellow;

}

.TOC em { 
	color: black;
}


a {
	color: #f39c12;	
{

ul.TOC {
	list-style-type: none;
}

.foot {
	position: relative;
	font-size: 10%;
	top: 10em;
	right: .2em;
  	margin-bottom: 0;
  	margin-top: 6rem;
	font-family: time;	
}


footer:active {
	color: maroon;
}
