
html {
	font-size: 150%;
}

h1 {
	font-family: cursive;
	text-align: center;
	text-shadow: .2em .2em .3em silver;
	background-image: url(spoop.jpg);
	background-image: repeat;
	height: 110px;
	width: 1420px;
	border-style: solid;
	border-radius: 1em;
	border-color: lightyellow;
	color: honeydew;
	

}

body {
	background-image: url(pat.jpg);
	background-image: repeat;
	font-family: time;
	z-index: 1;
	position: absolute;


}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


h2 {
	text-align: center;
	font-size: 80%;
	font-family: time;
	position; fixed;

}

h4 {
	text-align: center;
	color: honeydew;
	font-size: 115%;
}

.description1
{
	font-family: time;
	text-align: center;
	background-image: url(doke.jpg);
	background-image: repeat;
	height: 375px;
	width: 700px;
	border-style: solid;
	border-radius: 1em;
	border-color: lightyellow;
	color: gold;
	font-size: 80%;
	padding-left: 1rem;
	padding-right: 1rem;
}

.description
{
	font-family: time;
	text-align: center;
	background-image: url(doke.jpg);
	background-image: repeat;
	height: 375px;
	width: 700px;
	border-style: solid;
	border-radius: 1em;
	border-color: lightyellow;
	color: gold;
	font-size: 80%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 1rem;
}


.TOC {
	position: absolute;
	background-image: url(spoop.jpg);
	background-image: repeat;
	width: 150px;
	hieght: 60px;
	font-family: time;
	font-size: 80%;
	margin-top: -32rem;
	margin-left: 50rem;
	float: right;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.6em;
	border-style: solid;
	border-radius: 0.5em;
	border-color: lightyellow;

}


.TOC em { 
	color: black;
}


a {
	color: #f39c12;	
{

ul.TOC {
	list-style-type: none;
}

.foot {
	position: relative;
	font-size: 10%;
	top: 10em;
	right: .2em;
  	margin-bottom: 0;
  	margin-top: 6rem;
	font-family: time;	
}


footer:active {
	color: maroon;
}
