h1 {
	font-family: cursive;
	text-align: center;
	font-size: 350%;
	text-shadow: .2em .2em .3em silver;
	background: maroon;
	height: 110px;
	width: 100%;
	border-style: solid;
	border-radius: 1em;

}

body{
	background-color: #ffffcc;
	font-family: time;
	z-index: 1;
	background-image: url(../../../../../../1.jpg);
	min-width: 1440px;
	min-height: 764px;
}

h2 {
	font-family: cursive;
	font-size: 300%;
	text-align: center;
	color: #f39c12;
}

p {
	color: #f39c12;

}

.explanation {
	position: relative;
	background: maroon;
	width: 47rem;
	hieght: 600px;
	font-family: time;
	font-size: 115%;
	margin-top: 1.5rem;
	margin-left: 2rem;
	box-sizing: content-box;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.6em;
	border-style: solid;
	border-radius: 0.5em;
	text-decoration: none;

}

.next {
	float: right;
	position: relative;
	margin-top: -24rem;
}

.explan2 {
	position: relative;
	background: maroon;
	width: 47rem;
	hieght: 600px;
	font-family: time;
	font-size: 115%;
	margin-top: 1.5rem;
	margin-left: 2rem;
	box-sizing: content-box;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.6em;
	border-style: solid;
	border-radius: 0.5em;
	text-decoration: none;

}



.back {
	margin-left: -4em;
	margin-top: -5.5em;
	margin-bottom: 1;
	position: absolute;
}


a {	
	color: black;
	font-family: time;
	text-decoration: none;
}

h5 {
	font-family: cursive;
	font-size: 150%;
	text-align: center;
	color: #f39c12;
}

.Third {
	position: relative;
	background: maroon;
	width: 30rem;
	hieght: 600px;
	font-family: time;
	font-size: 115%;
	margin-top: -10rem;
	margin-right: 4%;
	float: right;
	box-sizing: content-box;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 0.6em;
	border-style: solid;
	border-radius: 0.5em;
}




